@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

html,
body,
#root {
  background-color: #ededed;
  font-family: "Bebas Neue", serif;
  height: 100%;
  font-style: normal;
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  flex: 1;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
